#hero {
    padding-top: 9.5rem;
    padding-bottom: 5rem;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}

.btn-gradient {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
    color: white !important;
}

.icon-feature {
    font-size: 4rem;
}

.text-gradient {
    background: -webkit-linear-gradient(#2937f0, #9f1ae2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-custom {
    padding-left: 40px;
    margin-top: 20px;
    box-shadow: 0px 16px 48px rgb(160 160 160 / 15%);
    transition: all 0.15s ease-in;
    border: 0 !important;
}

.card-custom:hover {
    transform: translateY(-4px);
    box-shadow: 0px 16px 48px rgba(160, 160, 160, 0.15),
        0px 16px 48px rgba(160, 160, 160, 0.15);
}

@media only screen and (max-width: 1000px) {
    .image-none {
        display: none;
    }
}
